:root {
	box-sizing: border-box;
	text-align: center;
	color: #FFFFFF;
}

body, html {
	height: 100%;
	background-color: #D91B35;
}

#app {
	width: 80%;
	height: 70%;
	margin: 0 auto;
	border-radius: 4%;
	background-color: #770F28;
}

#heading1 {
	text-decoration: underline;
}