:root {
	box-sizing: border-box;
	text-align: center;
	color: #FFFFFF;
}

body, html {
	height: 100%;
	background-color: #D91B35;
}

#app {
	width: 80%;
	height: 70%;
	margin: 0 auto;
	border-radius: 4%;
	background-color: #770F28;
}

#collatz-form-input {
	margin: 8px auto 0;
	border: none;
	border-bottom: 1px #D91B35 solid;
	background: transparent;
}

#collatz-form-input:focus {
	outline: none;
	border-bottom: 1px #FFA500 solid;
}

#collatz-form-input::placeholder {
	text-align: left;
	color: #FFFFFF;
}

#collatz-output {
	height: 100%;
}

#collatz-output-calculation {
	width: 80%;
	height: 70%;
	margin: 0 auto;
	border-radius: 4%;
	background-color: #C91F44;
}

#heading1 {
	text-decoration: underline;
}